/**
 *
 *	@module			imagegallery
 *	@author			Daniel Wacker, Matthias Gallas, Rob Smith, Manfred Fuenkner,cms-lab
 *	@copyright		2004-2019 Daniel Wacker, Matthias Gallas, Rob Smith, Manfred Fuenkner, cms-lab
 *	@version		see info.php of this module
 *	@link			https://gitlab.com/labby/imagegallery
 *	@license		GNU General Public License
 *	@platform		see info.php of this module
 *	@license_terms	please see info.php of this module 
 *
*/

hr {
	border-style: none;
 	height: 1px;
}
.imagegallery {
	float: left;
	width: 100%;
}
.pagenumbers {
	text-align: center;
	margin: 0px 1em 0px 1em;
	z-index:1;
}
.pagenumbers a:link, .pagenumbers a:visited, .pagenumbers a:hover {
	color: #000000;
	text-decoration: none;
}
.pictures {
	text-align: center;
}
.pictures img {
	border: none;
}
.pictures a:link, .pictures a:visited, .pictures a:hover {
	color: #000000;
	text-decoration: none;
}
.picturelink {
	margin: 1em;        
	float: left;
}
.picturelink img {
	border: none;
}
.clear {
	clear:left;
}
.filename {
	text-align: center;
}
.directories {
}